.store-bg {
  --background: #f5f7fa;
}

/* HEADER */
.store-toolbar {
  --background: #446bec;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.store-title {
  font-weight: 800;
}

/* FILTRO */
.filter-bar {
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  overflow-x: auto;

  span {
    font-weight: 600;
  }
}

/* CARD */
.store-card {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 25px;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  transition: transform 0.3s;

  ion-icon {
    font-size: 42px;
    color: #0d6efd;
    margin-bottom: 10px;
  }

  h3 {
    font-weight: 700;
    margin: 10px 0;
  }

  p {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .price {
    font-size: 1.2rem;
    font-weight: 800;
    color: #0d6efd;
    margin: 15px 0;
  }

  ion-button {
    --background: #0d6efd;
    font-weight: 700;
  }

  &:hover {
    transform: translateY(-8px);
  }
}

/* BADGE */
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #dc3545;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
}
ion-card,
.store-card,
ion-card-title,
ion-card-content,
ion-card-subtitle,
h1, h2, h3, h4, h5, h6,
p, span {
  color: #000 !important;
}
